DataMasker/Web References/GetUserInfo/GetUserInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bceiduserinfo.gov.bc.ca/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bceiduserinfo.gov.bc.ca/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bceiduserinfo.gov.bc.ca/">
      <s:element name="GetUserbyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserbyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserbyNameResult" type="tns:ArrayOfUsers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Users">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="displayname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="givenName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bcgovguid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimarySMTPAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="samaccountname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userprincipalname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelephoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uSNChanged" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="OuCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ou" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OuCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OuCountResult" type="tns:ArrayOfOUCount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOUCount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OUCount" nillable="true" type="tns:OUCount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OUCount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrganizationUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ORganizationUnitCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
      <s:element name="ArrayOfOUCount" nillable="true" type="tns:ArrayOfOUCount" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserbyNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserbyName" />
  </wsdl:message>
  <wsdl:message name="GetUserbyNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserbyNameResponse" />
  </wsdl:message>
  <wsdl:message name="OuCountSoapIn">
    <wsdl:part name="parameters" element="tns:OuCount" />
  </wsdl:message>
  <wsdl:message name="OuCountSoapOut">
    <wsdl:part name="parameters" element="tns:OuCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserbyNameHttpGetIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserbyNameHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfUsers" />
  </wsdl:message>
  <wsdl:message name="OuCountHttpGetIn">
    <wsdl:part name="ou" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OuCountHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfOUCount" />
  </wsdl:message>
  <wsdl:message name="GetUserbyNameHttpPostIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserbyNameHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfUsers" />
  </wsdl:message>
  <wsdl:message name="OuCountHttpPostIn">
    <wsdl:part name="ou" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OuCountHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfOUCount" />
  </wsdl:message>
  <wsdl:portType name="GetUserInfoSoap">
    <wsdl:operation name="GetUserbyName">
      <wsdl:input message="tns:GetUserbyNameSoapIn" />
      <wsdl:output message="tns:GetUserbyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OuCount">
      <wsdl:input message="tns:OuCountSoapIn" />
      <wsdl:output message="tns:OuCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetUserInfoHttpGet">
    <wsdl:operation name="GetUserbyName">
      <wsdl:input message="tns:GetUserbyNameHttpGetIn" />
      <wsdl:output message="tns:GetUserbyNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="OuCount">
      <wsdl:input message="tns:OuCountHttpGetIn" />
      <wsdl:output message="tns:OuCountHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetUserInfoHttpPost">
    <wsdl:operation name="GetUserbyName">
      <wsdl:input message="tns:GetUserbyNameHttpPostIn" />
      <wsdl:output message="tns:GetUserbyNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="OuCount">
      <wsdl:input message="tns:OuCountHttpPostIn" />
      <wsdl:output message="tns:OuCountHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetUserInfoSoap" type="tns:GetUserInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserbyName">
      <soap:operation soapAction="http://bceiduserinfo.gov.bc.ca/GetUserbyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OuCount">
      <soap:operation soapAction="http://bceiduserinfo.gov.bc.ca/OuCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetUserInfoSoap12" type="tns:GetUserInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserbyName">
      <soap12:operation soapAction="http://bceiduserinfo.gov.bc.ca/GetUserbyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OuCount">
      <soap12:operation soapAction="http://bceiduserinfo.gov.bc.ca/OuCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetUserInfoHttpGet" type="tns:GetUserInfoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetUserbyName">
      <http:operation location="/GetUserbyName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OuCount">
      <http:operation location="/OuCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetUserInfoHttpPost" type="tns:GetUserInfoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetUserbyName">
      <http:operation location="/GetUserbyName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OuCount">
      <http:operation location="/OuCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetUserInfo">
    <wsdl:port name="GetUserInfoSoap" binding="tns:GetUserInfoSoap">
      <soap:address location="https://sand-pims-proxied.th.gov.bc.ca/idir_GetUsersInfo/GetUserInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="GetUserInfoSoap12" binding="tns:GetUserInfoSoap12">
      <soap12:address location="https://sand-pims-proxied.th.gov.bc.ca/idir_GetUsersInfo/GetUserInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="GetUserInfoHttpGet" binding="tns:GetUserInfoHttpGet">
      <http:address location="https://sand-pims-proxied.th.gov.bc.ca/idir_GetUsersInfo/GetUserInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="GetUserInfoHttpPost" binding="tns:GetUserInfoHttpPost">
      <http:address location="https://sand-pims-proxied.th.gov.bc.ca/idir_GetUsersInfo/GetUserInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>